[Unit]
Description=BeagleBone Wifi AP Tester
Wants=network-online.service
After=network-online.service

[Service]
Type=forking
ExecStart=/usr/local/bin/bbwifiaptest.pl

[Install]
WantedBy=multi-user.target
