root@beaglebone:~# cat /etc/systemd/system/speedtest.service 
[Unit]
Description=Speedtest
Wants=NetworkManager-wait-online.service
After=NetworkManager-wait-online.service

[Service]
Type=forking
ExecStart=/root/bbonewifiaptester/speedtest.pl

[Install]
WantedBy=multi-user.target

