[Unit]
Description=Speedtest
Wants=network-online.service
After=network-online.service

[Service]
Type=forking
ExecStart=/root/bbonewifiaptester/speedtest.pl

[Install]
WantedBy=multi-user.target
